.navbar{
    top: 0;
    position: fixed;
}
.navbar-nav{
    margin-right: 0px;
    margin-left: 50%;
    position: fixed;
}
.navbar-brand{
    color: #f3a600;
}
.navbar-toggler:hover{
    color: #f3a600;
}
.nav-item:hover{
    color: #f3a600;
}