
.navbar {
  margin: 0;
  margin-bottom: 5px;
  padding: 5px;
  list-style-type: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(245, 250, 245);
  position: fixed;
}
.myname{
  color: rgb(189, 187, 187);
  padding: 5px;
  font-style: normal;
  font-family: 'Open Sans';
  font-weight: 900 bolder;
  font-size:1.8rem;
} 
.navbar a {
    color: #22dad0 ;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0.25rem;
    font-style: normal;
    font-family: 'Open Sans';
    font-size: 1.5rem;
}
.navbar i {
    color: #22dad0  ;
    padding: 0.45rem;
}
.navbar .icon .fa.fa-bars {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar .icon .fa.fa-bars {
    float: right;
    display: block;
    color: #22dad0  ;
  }
} 
.navbar li a:hover {
  color: #1d9ad8;
}
.navbar li i:hover {
  color: #1d9ad8;
}
.navbar-header {
  color: #f4f4f4;
  padding: 0.45rem;
}
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon.fa.fa-bars {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}