:root {
  --primary-color:#1565c0 ;

  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.page {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1488998427799-e3362cec87c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=1400&q=60);
  background-color: #00000F;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  background-size: cover;
  overflow: hidden;
}


.typewriter h1 {
  overflow: hidden; 
  border-right: .15em ; 
  padding-right: 10px;
  white-space: nowrap; 
  margin-top: 100px;
  letter-spacing: .15em; 
  left: 50%;
  top: 50%;
  font-size: 50px;
  font-weight: 900px;
  color:#00000F;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: 
      typing 1.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 50% }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

.block {
  color:#00000F;
  opacity: 0.9;
  padding: 7px;
  padding-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
}
.card-text {
  color: #00000F;
  font-size: 20px;
  font: caption;
}
