
.form-content {
	margin: 0;
  padding: 30px ;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

  opacity: 0.9;
	width: 100%;
  color: #FFFFFF;
	
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-3 {
    margin: 0px;
    box-sizing: border-box;
    border:solid #757575;
    box-shadow: 1px;
    color: #FFFFFF;
    flex: 0 1 24%;
    opacity: 5;
}
.col-3 .i{
 color: #00000F;
}
.col-3 .a.i
{
  margin: 1px;
  padding: 1px;
}
 