.portfolio-content {
  margin: 0 auto;
  padding: 30px ;
  opacity: 0.9;
  width: 100%;
  /* height: 100%; */
  background: url('https://github.com/Ceci007/images/blob/master/img-portfolio/footer/footer.png?raw=true') no-repeat;
  background-color: rgba(102, 95, 95, 0.65);
  background-repeat: no-repeat;
  opacity: 1;
  background-size: cover;
  color:#ffffff;
}
.text-center {
  text-align: center;
}
.separator {
  background: #f39200;
  width: 150px;
  height: 3px;
  margin: 1rem auto;
}
.skill-name {
    font-size: 18px;
  }
  
.text {
    color: #FFFFFF;
}
.cards {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* .card-container:hover .card,
.card-container.hover.manual-flip .card {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
}

.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
} */

.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5%;
}
/* hide back of pane during flip */

/* .front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  color: black;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
  border-radius: 5%;
} */
/* front pane, placed above back */

/* .front {
  z-index: 2;
  border-radius: 5%;
} */

/* .back {
  -webkit-transform: rotateY( 180deg);
  -moz-transform: rotateY( 180deg);
  -o-transform: rotateY( 180deg);
  transform: rotateY( 180deg);
  z-index: 3;
  margin: 0 auto;
  padding: 20px;
  height: 300px;
  border-radius: 5%;
} */
.text-center {
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .cards{
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
.card {
  margin: 10px;
  height: 300px;
  width: 350px;
  padding:0;
  background-color: transparent;
  color: #FFFFFF;
  /* flex: 1% 1% 40%; */
  border-radius: 5%;
  justify-content: center;
}

.project-img{
  margin: 0 ;
    height: 300px;
    width: 350px;
    border-radius: 5%;
    object-fit: fill;
}   
/* the css from new portfolio */
/* hover effect for the project cards */

/* .project-item .thumb {
	position: relative;
	text-align: center;
	display: inline-block;
	height: 200px;
	width: 250px;
} */

.card .front {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.card .back {
	position: absolute;
	background-color: rgba(255, 153, 0, 0.95);
	color: #fff;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

.card .back i {
	text-align: center;
	margin-top: 35%;
	display: inline-block;
	width: 46px;
	height: 46px;
	background-color: #fff;
	line-height: 46px;
	color: #b8b8b8;
	border-radius: 50%;
	font-size: 18px;
}

.card .back i:hover {
	background-color: #f17f14;
	color: #fff;
	transition: all 0.5s;
}

.card:hover .back {
	opacity: 1;
	visibility: visible;
}