.portfolio-content {
  margin: 0;
  padding: 30px ;
  opacity: 0.9;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color:#FFFFFF;
}

.skill-name {
    font-size: 18px;
  }
  
.text {
    color: #FFFFFF;
}
.cards {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col-6 {
    display: table;
    flex: 1;
    padding: 16px;
    width: 100%;
    display: table-cell;
  }

@media screen and (max-width: 600px) {
  .row { 
    display: grid;
    width: 100%;
  }
.col-6 {
    float: right;
    display: block;
    width: 100%;
  }
}
.card {
  height: 400px;
  width: 500px;
  padding: 10px;
  background-color: transparent;
  margin: 5px;
  color: #FFFFFF;
  flex: 1% 1% 40%;
  border: solid #c7c2c2;
  border-radius: 5%;
  justify-content: center;
}

.card-img {
    height: 200px;
    width: 430px;
}   
      