.portfolio-content {
  margin: 0;
  padding: 30px ;
  opacity: 0.9;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  color:#FFFFFF;
}

.skill-name {
    font-size: 18px;
  }
  
.text {
    color: #FFFFFF;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.col-6 {
    display: table;
    flex: 1;
    padding: 16px;
    width: 100%;
    display: table-cell;
  }

@media screen and (max-width: 600px) {
  .row { 
    display: grid;
    width: 100%;
  }
  .col-6 {
    float: right;
    display: block;
    width: 100%;
  }
}
.card {
    padding: 10px;
    background-color: transparent;
    margin: 1px;
    color: #FFFFFF;
    flex: 0 1 24%;
    border: solid #757575;
    box-shadow: 0.5px;
}

.card-img {
    height: 200px;
}   
      