.skill-bar{
  height: 550px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(216, 210, 210, 0.938);
  color: rgb(8, 8, 8);
}
.text-center {
  text-align: center;
}
.progress-bar {
    margin: 10;
    padding: 10px;
    height: 20px;
    width: 15px;
    align-content: center;
   
  }
 .progress{
   margin: 5px;
   border-radius: 10px;
 }
#html {
  background-color: rgb(0, 0, 0);
}
#mysql{
  background-color: black;
}
#bootstrap {
  background-color: rgb(0, 0, 0);
}
#css {
  background-color: rgb(0, 0, 0);
}
#python {
  background-color: rgb(5, 5, 5);
}
#js {
  background-color: rgb(7, 7, 7);
}
#react {
  background-color: rgb(0, 0, 0);
}
#vue {
  background-color: rgb(0, 0, 0);
}
.col-6{
  display: table-cell;
} 
  