.skill-bar{
  height: 700px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(194, 189, 189, 0.938);
  color: rgb(8, 8, 8);
}

.progress-bar {
    margin: 10;
    padding: 10px;
    height: 20px;
    width: 15px;
    align-content: center;
  }
 
#html {
  background-color: rgb(26, 195, 247);
}
#bootstrap {
  background-color: rgb(77, 12, 107);
}
#css {
  background-color: chartreuse;
}
#python {
  background-color: rgb(223, 121, 25);
}
#js {
  background-color: rgb(253, 184, 10);
}
#react {
  background-color: aqua;
}
#vue {
  background-color: rgb(3, 204, 87);
}
.col-6{
  display: table-cell;
} 
  