.edu-container {
    margin: 0 ;
    padding: 30px;
    background: url(https://c0.anyrgb.com/images/645/442/notebook-desk-above-view-flat-lay-blank-glasses-pen-paper-white.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    color: rgb(0, 0, 0);
    height: 900px;
}
 .inner-container {
    height: 100%;
    margin-top: 2%;
    margin-left: 20%;
    padding: 10%;
    background-color: transparent;
    color:#0a0a0a;
 }